{% extends "layouts/layout.html" %}

{% block body %}
    {% if category %}
        <h2>Category: {{ category }}</h2>
    {% elif watchlist %}
        <h2>Watchlist</h2>
    {% else %}
        <h2>Active Listings</h2>
    {% endif %}

    <div class="container-fluid d-flex flex-column">
        {% for product in products %}
            <a href="{% url 'listings' product.id %}" class="card text-bg-light border-dark mb-2 text-decoration-none">
                <div class="row g-0">
                    <div class="col-4 align-contents-center text-center">
                        <img src="../media/{{ product.image_path }}" height="200">
                    </div>
                    <div class="col-8">
                        <h4 class="card-title">{{ product.prod_name | capfirst }}</h4>
                        <div class="card-text">
                            <b>Starting price:</b> ${{ product.price_base | floatformat:2 }}<br>
                            <b>Current price:</b> ${{ product.price_cur | floatformat:2 }}
                        </div>
                        <div class="card-text">
                            {% if product.description %}
                                {{ product.description }}
                            {% else %}
                                ---
                            {% endif %}
                        </div> <br>
                        <div class="card-text text-muted">
                            Date created: {{ product.date_created }}
                        </div>
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>
{% endblock %}