{% extends 'layouts/layout.html' %}

{% block title %}
    Listing
{% endblock title %}

{% block body %}
    <!-- Listing -->
    <div class="d-flex container-fluid align-items-center">
        <h2>Listing: {{ product.prod_name | capfirst }}</h2>
        {% if in_watchlist %}
            <span class="d-inline-block" 
                tabindex="0" 
                data-bs-toggle="popover" 
                data-bs-trigger="hover focus"
                data-bs-content="Click to unwatch">
                <a href="{% url 'unwatch' product.id user.id%}" class="ms-5 btn btn-success h-75">Watched</a>
            </span>
            <script>
                document.querySelectorAll('[data-bs-toggle="popover"]')
                    .forEach(popover => {
                        new bootstrap.Popover(popover)
                })
            </script>
        {% else %}
            <a href="{% url 'add to watchlist' product.id %}" class="ms-5 btn btn-warning h-75">Add to watchlist</a>
        {% endif %}
    </div>

    <div class="container-fluid">
        <div class="text-center">
            <img src="../media/{{ product.image_path }}" alt="{{ product.prod_name }}" height="512">
        </div>
        <!-- Desription -->
        <div class="mb-3">
            {{ product.description }}
        </div>
        <!-- Price -->
        <h2>
            ${{ product.price_cur | floatformat:2 }}
        </h2>
        <!-- Bid count -->
        <div class="mb-3">
            {{ bid_count }} bid(s) so far.<br>
            <form  action="{% url 'listings' product.id %}" method="post">
                {% csrf_token %}
                {{ bidform }}
                <button type="submit" class="btn btn-primary">Place Bid</button>
            </form>
        </div>
        <div class="mb-3">
            <div class="fs-3"><b>Details</b></div>
            <ul>
                <li>Listed by: 
                    <a href="">{{ product.seller.username }}</a>
                </li>
                <li>
                    Category: 
                    {% if product.category %}
                        {% for c in product.category.all %}
                            {<a href="{% url 'category' c.id %}">{{ c.name }}</a>} 
                        {% endfor %}
                    {% else %}
                        No Category Listed
                    {% endif %}
                </li>
            </ul>
        </div>
        <div class="fs-3"><b>Comments</b></div>
            <div class="container mb-3 ms-0">
                <ul class="list-group d-flex mb-2">
                    {% for comment in comments %}
                        <li class="list-group-item row d-flex">
                            <div class="col-3 align-items-start text-wrap border-end">
                                <b>{{ comment.user.username }}</b>
                                <div class="text-muted" style="font-size: 11px;">
                                    {{ comment.date_added }}
                                </div>
                            </div>
                            <div class="col-9 text-wrap">
                                {{ comment.comment }}
                            </div>
                        </li>
                    {% endfor %}
                </ul>
                <form action="{% url 'comment' product.id %}" method="post">
                    {% csrf_token %}
                    <div class="d-flex mb-2">
                        {{ comment_form }}
                    </div>
                    <div class="d-flex">
                        <button type="submit" class="btn btn-primary ms-auto">Send</button>
                    </div>
                </form>
        </div>
    </div>
{% endblock body %}