{% extends 'layouts/layout.html' %}

{% block title %}
    Listing
{% endblock title %}

{% block body %}
    <h2>Listing: {{ product.prod_name | capfirst }}</h2>

    <div class="container-fluid">
        <div class="text-center">
            <img src="../media/{{ product.image_path }}" alt="{{ product.prod_name }}" height="512">
        </div>
        <div class="mb-3">
            {{ product.description }}
        </div>
        <h2>
            ${{ product.price_cur | floatformat:2 }}
        </h2>
        <div class="mb-3">
            {{ bid_count }} bid(s) so far.<br>
            <form  action="{% url 'listings' product.id %}" method="post">
                {% csrf_token %}
                {{ bidform }}
                <button type="submit" class="btn btn-primary">Place Bid</button>
            </form>
        </div>
        <div class="mb-3">
            <div class="fs-3"><b>Details</b></div>
            <ul>
                <li>Listed by: 
                    <a href="">{{ product.seller.username }}</a>
                </li>
                <li>
                    Category: 
                    {% if product.category %}
                        {% for c in product.category %}
                            <a href="">{{ c.name }}</a> 
                        {% endfor %}
                    {% else %}
                        No Category Listed
                    {% endif %}
                </li>
            </ul>
        </div>
    </div>
{% endblock body %}